@charset "UTF-8";

body {
    background: rgb(63, 63, 255);
    font: normal 15pt Arial;
    
}

header {
    color: white;
    text-align: center;
}

section {
    background: white;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.385);
    
}
div {
    text-align: center;
    padding: 10px;
    margin: 10px;
}
div#msg {
    font-size: 1.5em;
}

footer {
    color: white;
    text-align: center;
    font-style: italic;
}
